@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html {
    font-size: 18px;
    line-height: 1.5;
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 12px;
  }
}

body {
    margin: 0;
    font-family: Ubuntu, sans-serif;
    color: #FFF;
}

header {
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 4rem 0 0 0;
    font-size: 2.8rem;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #999;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
}

#orbit {
    position: relative;
    height: 300px;
    width: 300px;
    border: 1px solid #555;
    border-radius: 50%;
    animation: orbit 24s linear infinite;
}

#sun {
    position: absolute;
    top: 120px;
    left: 120px;
    width: 60px;
    height: 60px;
    background-color: #FC0;
    border-radius: 50%;
}

#earth {
    position: absolute;
    top: 164px;
    left: 16px;
    width: 28px;
    height: 28px;
    background-color: #00BAFF;
    border-radius: 50%;
    animation: orbit 2s linear infinite;
}

#moon {
    position: absolute;
    left: 8px;
    top: -28px;
    width: 12px;
    height: 12px;
    background-color: #999;
    border-radius: 50%;
}

@keyframes orbit {
    100% {
        transform: rotate(360deg);
    }
}

section {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#spring {
    background-image: url(media/spring.jpg);
}

#summer {
    background-image: url(media/summer.jpg);
}

#autumn {
    background-image: url(media/autumn.jpg);
}

#winter {
    background-image: url(media/winter.jpg);
}

article {
    background-color: rgba(0,0,0,0.5);
    max-width: 800px;
    padding: 2rem;
    margin: 1rem;
    border-radius: 8px;
    position: relative;
    opacity: 1;
    transition: transform 1s, opacity 1s; 
}

.move-down {
    transform: translate(0, 10rem);
    opacity: 0;
}


h2 {
    font-size: 3rem;
    margin: 0 0 1rem 0;
    line-height: 1;
    letter-spacing: -1px;
    color: rgba(255,255,255,0.5);
}

p {
    margin: 0;
}





